* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Raleway";
  box-sizing: border-box;
}

:root {
  --blue-text: #265e70;
  --dark-color: #303030;
  --white-text: #ffffff;
  --light-blue: #4dbce9;
  --borderradius-global: 15px;
  --font-titles-size: 30px;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--white-text);
}

header h1 {
  margin-left: 2rem;
}

header img {
  width: 150px;
  margin-left: 2rem;
}

main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 3em;
  column-gap: 2rem;
  padding: 3rem;
}

.container {
  display: flex;
  column-gap: 3em;
}

#specialTextOne {
  font-weight: 700;
}

#specialTextTwo {
  font-weight: 700;
  color: var(--light-blue);
}

.left h2,
.right h2 {
  color: var(--blue-text);
  font-size: var(--font-titles-size);
  font-weight: normal !important;
  margin-bottom: 2rem;
}

.right {
  text-align: center;
}

#card {
  display: flex;
  gap: 1rem;
}

ul {
  display: flex;
  max-width: 400px;
  overflow-x: hidden;
  border-radius: var(--borderradius-global);
  gap: 2rem;
}

.card-moto {
  border-radius: var(--borderradius-global);
  background-color: var(--light-blue);
  min-width: 400px;
}

.img {
  height: 300px;
  width: auto;
}

h3 {
  margin-top: 1rem;
  color: var(--white-text);
  font-weight: bold;
  font-size: 22px;
}

.arrow-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.aux-price {
  font-size: 25px;
  color: var(--white-text);
}

.price {
  background: var(--white-text);
  font-size: var(--font-titles-size);
  color: var(--blue-text);
  border-radius: var(--borderradius-global);
  padding: 0.2rem 0.5rem;
  width: 200px;
  height: 40px;
}

.plan {
  color: var(--white-text);
  font-size: 18px;
  margin-bottom: 1rem;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  text-align: center;
}

#more-info {
  color: var(--white-text);
  background-color: var(--light-blue);
  font-size: var(--font-titles-size);
  font-weight: bold;
  border-radius: var(--borderradius-global);
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border: none;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdfe5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
}

.aux-window {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background: rgba(77, 188, 233, 0.75);
  position: relative;
  align-items: center;
  padding: 2rem;
  border-radius: var(--borderradius-global);
  color: var(--white-text);
  gap: 1rem;
}

.aux-window > button:first-of-type {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 13px;
  top: 13px;
}

.aux-window > button:last-of-type {
  border-radius: var(--borderradius-global);
  font-size: 27px;
  background-color: var(--white-text);
  color: var(--blue-text);
  font-weight: 700;
  padding: 10px 1rem;
}
